<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Instagram2Vk Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="INSTAGRAM_ACCESS_TOKEN" value="145050964.48d740a.5d1ef0f5664b46a097bb3f1b2c238806"/>
        <env name="INSTAGRAM_ACCESS_TOKEN_USERNAME" value="lezhnev"/>

        <env name="VK_ACCESS_TOKEN"
             value="1e22a28a09a48386f19ae4bc7a3457bfeb242082a49a846b772e2896645230b33f424793fa78631895132"/>
        <env name="VK_GROUP_ID" value="81775358"/>

        <env name="TIMEZONE" value="Europe/Moscow" />
    </php>
</phpunit>
